<mat-form-field appearance="outline" hintLabel="{{values.hint}}">
  <mat-label>{{values.label}}</mat-label>
    <mat-select [formControl]="nameFormControl">
      <mat-option value="mantenimiento" (click)="onInput($event)">Mantenimiento</mat-option>
      <mat-option value="retiro" (click)="onInput($event)">Retiro  de equipo</mat-option>
      <mat-option value="instalacion" (click)="onInput($event)">Instalacion de equipo</mat-option>
    </mat-select>
    @if ( !nameFormControl.hasError('required') && nameFormControl.hasError('pattern')) {
      <mat-error>Please enter a valid name</mat-error>
    } @else if (nameFormControl.hasError('required')) {
      <mat-error>name is <strong>required</strong></mat-error>
    }
</mat-form-field>
