<mat-form-field appearance="outline" hintLabel="Max 10 characters">
  <mat-label>{{values.label}}</mat-label>
    <input matInput #input
    type="email" maxlength="10"
    placeholder="Ex. Nougat"
    [formControl]="nameFormControl"
    (input)="onInput($event)" />
    @if ( !nameFormControl.hasError('required') && nameFormControl.hasError('pattern')) {
      <mat-error>Please enter a valid name</mat-error>
    } @else if (nameFormControl.hasError('required')) {
      <mat-error>name is <strong>required</strong></mat-error>
    }
  <mat-hint align="end">{{value().length}}/10</mat-hint>
</mat-form-field>
