<section>
  <aside>
    <h2>{{title}}</h2>
    <p>{{text}}</p>
  </aside>

  <main>
    @for (input of formList; track input) {
      @switch (input.type) {
        @case ('area') {
          <input-area/>
        }
        @case ('color') {
          <input-color/>
        }
        @case ('complete') {
          <input-complete/>
        }
        @case ('date') {
          <input-date/>
        }
        @case ('datetimelocal') {
          <input-datetimelocal/>
        }
        @case ('email') {
          <input-email/>
        }
        @case ('file') {
          <input-file/>
        }
        @case ('list') {
          <input-list/>
        }
        @case ('month') {
          <input-month/>
        }
        @case ('number') {
          <input-number/>
        }
        @case ('password') {
          <input-password/>
        }
        <!--
        @case ('pickertime') {
          <input-pickertime/>
        }
        @case ('pickerdate') {
          <input-pickerdate/>
        }
        -->
        @case ('search') {
          <input-search/>
        }
        @case ('tel') {
          <input-tel/>
        }
        @case ('text') {
          <input-text/>
        }
        @case ('time') {
          <input-time/>
        }
        @case ('url') {
          <input-url/>
        }
        @case ('week') {
          <input-week/>
        }
        @default {
        }
      }
    }
  </main>

  <div>
  </div>
</section>
