section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  display: grid;
  grid: auto auto / 100%;
  place-content: start center;
  place-items: start center;
  gap: 2rem;

  min-width: 320px;
  width: 92%;
  height: auto;
}

aside {
  display: grid;
  grid: auto auto / 100%;
  place-content: start;
  place-items: start;
  gap: 8px;

  min-width: 320px;
  width: 100%;
  height: auto;
  h2 {
    width: 100%;
    height: auto;
    margin: 32px 0 0 0;

    font-size: 46px;
  }
  p {
    width: 100%;
    height: auto;

    text-align: justify;
    font-weight: 400;
    color: gray;
  }
}

main {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  place-content: start center;
  place-items: start center;
  gap: 2rem 1rem;

  min-width: 320px;
  width: 100%;
  height: 100%;
  padding: 4px 0;

  overflow-x: hidden;
  overflow-y: auto;
  * {
    min-width: 320px;
    width: 100%;
    height: auto;
    * {
      min-width: 320px;
      width: 100%;
      height: 100%;
    }
  }
}

div {
  width: 100%;
  height: 200px;
}
