<section>
  <aside>
    <h2>{{title}}</h2>
    <p>{{text}}</p>
  </aside>

  <main>
    @for (input of formList; track input) {
      @defer (when data.length != 0) {
        @switch (input.type) {
          @case ('area') {
            <input-area [values]="input"/>
          }
          @case ('color') {
            <input-color [values]="input"/>
          }
          @case ('complete') {
            <input-complete [values]="input"/>
          }
          @case ('date') {
            <input-date [values]="input"/>
          }
          @case ('datetimelocal') {
            <input-datetimelocal [values]="input"/>
          }
          @case ('email') {
            <input-email [values]="input"/>
          }
          @case ('file') {
            <input-file [values]="input"/>
          }
          @case ('list') {
            <input-list [values]="input"/>
          }
          @case ('month') {
            <input-month [values]="input"/>
          }
          @case ('number') {
            <input-number [values]="input"/>
          }
          @case ('password') {
            <input-password [values]="input"/>
          }
          <!--
          @case ('pickertime') {
            <input-pickertime [values]="input"/>
          }
          @case ('pickerdate') {
            <input-pickerdate [values]="input"/>
          }
          -->
          @case ('search') {
            <input-search [values]="input"/>
          }
          @case ('tel') {
            <input-tel [values]="input"/>
          }
          @case ('text') {
            <input-text [values]="input"/>
          }
          @case ('time') {
            <input-time [values]="input"/>
          }
          @case ('url') {
            <input-url [values]="input"/>
          }
          @case ('week') {
            <input-week [values]="input"/>
          }
          @default {
          }
        }
      } @loading {
        <skel-animation/>
      } @placeholder {
        <skel-animation/>
      }
    }
  </main>

  <div>
  </div>
</section>
