<mat-form-field appearance="outline" hintLabel="{{values.hint}}">
  <mat-label>{{values.label}}</mat-label>
    <input matInput #input
    type="tel"
    maxlength="{{values.max}}"
    placeholder="{{values.placeholder}}"
    [formControl]="nameFormControl"
    (input)="onInput($event)" />
    @if ( !nameFormControl.hasError('required') && nameFormControl.hasError('pattern')) {
      <mat-error>Please enter a valid name</mat-error>
    } @else if (nameFormControl.hasError('required')) {
      <mat-error>name is <strong>required</strong></mat-error>
    }
  <mat-hint align="end">{{value().length}}/10</mat-hint>
</mat-form-field>
