<mat-form-field  appearance="outline" hintLabel="Max 10 characters">
  <mat-label>{{values.label}}</mat-label>
  <input matInput #input
    type="text" maxlength="200"
    placeholder="Ex. Nougat"
    [formControl]="nameFormControl"
    [matAutocomplete]="auto"
    (click)="onInput($event, 'click')"
    (mouseover)="onInput($event, 'click')"
    (mouseup)="onInput($event, 'click')"
    (keydown)="onInput($event, 'keydown')"/>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    @defer (when options.length !== 0) {
      @if (1) {
        @for (option of filteredOptions | async; track option) {
          <mat-option (click)="onInput($event, 'click')" [value]="option">{{option}}</mat-option>
        }
      }
    }
  </mat-autocomplete>
  @if ( !nameFormControl.hasError('required') && nameFormControl.hasError('pattern')) {
    <mat-error>Please enter a valid name</mat-error>
  } @else if (nameFormControl.hasError('required')) {
    <mat-error>name is <strong>required</strong></mat-error>
  }
</mat-form-field>
